.heading {
  font-size: 10em;
  font-weight: 100;
}
.card-container{  
   padding: 10px;
   margin: 40px;
   border-radius: 20px ;
   background-color: #C7D3D4FF;
   color: #603F83FF; 
   border: solid 1px black;
 
}
.card-container:hover{
  color: #ff643d;
  border: #fb3e0f solid 1px;
  background:#fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  
}

.completed h6{
  background-color:green;
  border-radius: 10px;
  color: white;
  margin-left: 50px; 
  width:15%;
  padding: 5px;
}
.not-completed h6{
  background-color:red;
  border-radius: 10px;
  color: white; 
  margin-left: 50px;
  width:15%;
  padding: 5px;

}
.number{
   float:left;
   padding: 12px;

  background-color:  #603F83FF;
  color:white;
  max-width: 50%;
  border-radius: 50px;
 
  width: 9%;


}
.title{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding: 20px;
}