.app{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: #603F83FF;
    color: white;

    /* margin: 20px; */
}